.main_container {
    width: 60vw;
    margin: auto;
    height: 100vh;
    margin-top: 18px;
}

.form-content {
    margin-top: 150px;
    padding: 60px;
    height: 100%;
    /* width: 100%; */
}

.form-content {
    background-color: rgb(244, 244, 247);
    text-align: center;
}

.login-heading {
    font-size: 1.9rem;
    font-weight: bold;
    /* margin: 30px; */
}

.input-class {
    position: relative;
    margin-top: 15px;
}

.input-class input {
    padding: 8px 15px;
    width: 100%;
    position: relative;
    outline: none;
}
.input-class input:focus{
    border-bottom-width: 2px ;
}

.input-class i {
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 55%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.form-btn {
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: rgb(30, 28, 114);
    position: relative;
    width: 100%;
    margin-top: 26px;
}

.line::before {
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 244, 247);
    color: black;
    padding: 0 10px;
}